#bloc_page
{
    display: inline-block;
    vertical-align: top;
}

#nom_photo
{
    display: flex;
    width: auto; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    text-align: justify;
    padding: 100px;
    margin-bottom: 20px;
}

#mon_experience
{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_competences
{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#ma_formation
{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}